body {
    background:#e8e8e8;
}

#content {
    background:#f5f5f5;
    min-height:500px;
	padding: 5px ($gutter-width * 2 + span(1)) / 2;

    @include box-shadow(#ccc, 5px, 2px, 2px);
    
    #left {
		@include col(14, true);
    }
    #right {
        @include col(5, false, true);
    }
}

@import "partials/banner"
