#resume {
    > header h1 {
        font-size:3em;
    }
    section {
        > header {
            font-size:2em;
        }
        .resume-wrapper {
            position:relative;
            [itemprop="duration"] {
                position:absolute;
                right:0;
                margin-top:-50px;
                font-size:12px;
            }
        }
    }
    #contact {
        > [itemprop] {
            display:inline-block;
        }
    }
}